body {
	/*padding-top: 70px;*/
	background: #b4f794 !important;
}

.navbar .navbar-brand {
	text-align: center;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 25px;
	color: #fffae1;
}

.navbar-right {
	margin-right: 0;
}

.table tbody>tr>td.middle {
	vertical-align: middle;
}

.media {
	padding: 10px 0;
}

.media-heading {
	color: #00026b;
	margin-bottom: 10px;
}

.media-body {
	padding-top: 15px;
}

.btn{
  text-align: center;
  padding: 5px 5px;
	margin: 2px 3px;
  font-size: 17px;
  border-radius: 8px;
}

.navbar-default{
	background-color: #0b2e13;
}
